.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* padding: 22px 0 0 0; */
  background-color: #000000;
}

.dapp {
  max-width: 1440px;
  margin-top: 100px ;
  margin-bottom: 150px ;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .dapp {
    margin-top: 50px;
  }
}