.staking-container {
    padding: 0 150px;
}

.img-container {
    max-width: 554px;
    max-height: 311px;
}

.staking-des {
    width: calc(100% - 600px);
}

.staking-title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    /* identical to box height, or 147% */

    letter-spacing: 0.15px;

    color: #EFEFEF;

    text-shadow: 0px 16px 16px #000000;
}

.staking-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: #8E8E8E;
}

.dapp-btn {
    padding: 0px 15px;
    width: auto;
    height: 40px;
}


@media only screen and (min-device-width: 1340px) and (max-device-width: 1440px) {
    .staking-container {
        padding: 0px 100px !important;
    }
}

@media only screen and (min-device-width: 1240px) and (max-device-width: 1340px) {
    .staking-container {
        padding: 0px 50px !important;
    }
}

@media only screen and (min-device-width: 1140px) and (max-device-width: 1240px) {
    .staking-container {
        padding: 0px 20px !important;
    }
}

@media only screen and (min-device-width: 880px) and (max-device-width: 1140px) {
    .staking-container {
      padding: 0 16px !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 880px) {
    .staking-container {
        padding: 0 16px;
        box-sizing: border-box;
    }

    .dapp-btn {
        margin: 48px 0 0 auto;
    }
}