.gradient-slider {
  -webkit-appearance: none;
  width: 326px;
  height: 4px;
  background: transparent;
  margin: 0 12px;

  &::-webkit-slider-runnable-track {
    width: 326px;
    height: 4px;
    background: linear-gradient(270deg, #6C0FE3 -1.52%, rgba(108, 15, 227, 0) 148.77%);
    border-radius: 12px;
  }

  &::-moz-range-track {
    width: 326px;
    height: 10px;
    background: #DBDBDB;
    border-radius: 15px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #6C0FE3;
    border: 3px solid #FFFFFF;
    margin-top: -6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.slider-tooltip {
  position: absolute;
  top: 12px;
  width: 50px;
  text-align: center;
  font-family: PopinsLight;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

