.tabs-container {
    width: 100%;
    border-bottom: 1px solid #93979D;
    max-width: 1440px;
}

.staking-btn {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'rclt' off;
}